<h1>Here is an index page of all the projects that you've created!</h1>
<ul>
  <% @projects.each do |project| %>
  <li>
    <%= project.name %>
  </li>
  <% end %>
</ul>

<%= button_to "Back Home", welcome_path, method: 'get' %>
