<h1> Digibelt </h1>
Framework Name: <%= @framework.name %>
<br>
Description: <%= @framework.description %>
<hr>
<h3>Other Helpful Links</h3>
<%= button_to 'Back to Info', info_path, method: 'get' %>
<%= button_to 'Back to Homepage', welcome_path ,method: 'get' %>
